.animal {
    max-width: 6em;
    min-width: 6em;
    max-height: 6em;
    min-height: 6em;
    border-radius: 50%;
    background-color: SkyBlue;
    margin: 3px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.animal p{
    font-size: 12px;
}

.vertical-center {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex; /* For Safari */
  -webkit-justify-content: center; /* For Safari */
  -webkit-align-items: center; /* For Safari */
}
